<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="text-align: center;">
<table style="width: 600px;height: 100px;background-color: #16a085;margin: auto">
    <tr>
        <td colspan="2" style="height:50px;color: #fff;">
            <h2 style="text-indent: 1em;">OJ4th 重置密码</h2>
        </td>

    </tr>
    <tr>
        <td colspan="2" style="height:50px;color: #fff">
            <p style="text-indent: 1em;margin-left: 30px;margin-right: 20px;">
                确认邮件：您在我们的OJ提交了修改密码的请求，点击下面的链接前往设置(有效时间24小时)。若不是您的邮件，请勿回复，谢谢！</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="height: 50px;">
            <a style="color:#f1f1f1;margin-left: 30px;"
               href="http://acm.buaa.edu.cn/reset/erefdafdsafdasfef&fdsaefdf23dasfcn">http://acm.buaa.edu.cn/reset/erefdafdsafdasfef&fdsaefdf23dasfcn</a>
        </td>
    </tr>

</table>
</body>
</html>