<table id="problem-list-table" class=" styled-table" style="width: 600px;">
    <thead>
    <tr>
        <th width="10%">编号</th>
        <th width="50%">名称</th>
        <th width="15%">作者</th>
        <th width="10%">提交数</th>
        <th width="15%">通过数</th>
    </tr>
    </thead>
    <tbody>
    {@each problem_list as problem}
    <tr>
        <td> ${problem.id}</td>
        <td><a href="/problem/${problem.id}">${problem.title}</a></td>
        <td><a href="/user/${problem.creater_id}">${problem.creater_name}</td>
        <td><span>${problem.total_submit}</span></td>
        <td><span>${problem.total_accepted}</span></td>
    </tr>
    {@/each}
    </tbody>
</table>